{% extends "base.html" %}
{% load django_markdown %}

{% block blog_entries %}
<title>Search results:</title>
<center><img src="http://1.bp.blogspot.com/-BAZzulZ9hxE/UC6521lYCmI/AAAAAAAAGRE/vxqKLubZ_uk/s1600/smileyEmbarsassed.png"></center>
  <div class="post" style="width:100%; background-color:red; color:#ffffff; padding:5px 5px 5px 5px;border:1px solid #000">
    <h3 style="color:#ffffff">No result match your search try searching with different keywords...</h3>
    
</div>
    
{% endblock %}
